services:
  - type: web
    name: milkyawards-backend
    env: node
    plan: free
    buildCommand: "npm install && npm run build"
    startCommand: "npm run start:prod"
    autoDeploy: true
    envVars:
      - key: PORT
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: DATABASE_URL
        sync: false